name: Dev Deploy

on:
  push:
    branches:
      - main

env:
  RESOURCE_GROUP: rg-myapp-dev
  LOCATION: eastus
  ACR_NAME: saimorigalamyappacr

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: |
        az acr login --name $ACR_NAME

    - name: Build and push Docker image
      run: |
        IMAGE=$ACR_NAME.azurecr.io/myapp:${{ github.sha }}
        docker build -f MyApp/Dockerfile -t $IMAGE ./MyApp
        docker push $IMAGE
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV

    - name: Deploy ARM template
      run: |
        az deployment group create \
          --resource-group $RESOURCE_GROUP \
          --template-file infra/main.json \
          --parameters infra/parameters.dev.json \
          image=${{ env.IMAGE }}
